.imgAvatarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgAvatarModal {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* drop shadow */
    display: grid;
    background-color: white;
    width: 25%;
    height: 60%;
    overflow: auto;
}

.imgAvatarClosebutton {
    position: absolute;
    width: 20px;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.imgAvatarCloseImg {
    margin-top: 10px;
    img {
        border-radius: 50%;
        width: 100%;
        height: 320px;
    }
}