.addFriendOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFriendModal {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* drop shadow */
    display: grid;
    background-color:white;
    grid-template-rows: 12% 69% 10%;
    width: 25%;
    height: 60%;
    overflow: auto;
}

.addFriendHeader {
    border-bottom: 1px solid rgb(31, 25, 31);
}

.addFriendClosebutton {
    position: absolute;
    width: 20px;
    top: 25px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.addFriendBottom button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgb(9, 7, 14);
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.addFriendSearch {
    position: relative;
}

.addFriendIconSearch {
    width: 14%;
    height: 35px;
    position: absolute;
    top: 15px;
}

.addFriendSearch button {
    margin-left: 5px;
    width: 15%;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgb(30, 15, 78);

}

.addFriendSearch input {
    margin-top: 10px;
    margin-left: 65px;
    width: 60%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid blanchedalmond;
    font-size: 16px;
    padding: 20px 5px 20px 0px;
}
.addfriendSearchedHeader{
    h4{
        margin-top: 20px;
    }
}

.addfriendSearchedContent {
    margin-top: 10px;
    display: inline-flex;
    display: grid;
    grid-template-columns: 15% 60% 20%;
    margin-left: 8px;

    img {
        height: 2rem;
        max-inline-size: 100%;
        border-radius: 50%;
        overflow: hidden;
    }

    p {
        font-size: 17px;
    }

    button {
        width: 100%;
        height: 30px;
        cursor: pointer;
        color: black;
        border-radius: 10px;
        border: 1px solid rgb(45, 44, 42);
    }

}